<script setup>
import { reactive, computed, defineComponent } from 'vue'
import { useStore } from 'vuex';
import Counter from '@/components/Counter.vue'

defineComponent([Counter])

const store = useStore()

const products = reactive({
  guild: "Ấn vào thêm để thêm sản phẩm",
})

const counter = computed(() => store.state.products.count)

const list = computed(() => store.getters.list)

function showAlert(payload) {
  store.dispatch('handleAdd', payload)
}

</script>

<template>
  <div class="m-2 alert alert-info">
    {{ products.guild }}
  </div>
  
  <Counter 
    :count=counter
    user="Desod"
    @counter-incre="showAlert"
  />

  <ul>
    <li v-for="item in list" :key="item.id">
      {{ item.id }} - {{ item.value }}
    </li>
  </ul>
</template>

