<script setup>
import { reactive } from 'vue'

defineProps({
  user: {
    type: String,
    required: true
  },
  count: {
    type: Number,
    required: true
  }
})

const state = reactive({
  name: ''
})

defineEmits(['counter-incre'])
</script>

<template>
  <div class="border p-2">
    <h1 class="text-success">Xin chào {{user}}</h1>
    <h3>Có tất cả: {{count}} sản phẩm</h3>
    <input type="text" class="m-2" v-model="state.name" placeholder="Nhập tên sản phẩm" />
    <input type="button" @click="$emit('counter-incre', state.name)" value="Thêm sản phẩm"/>
  </div>
</template>
