<template>
  <footer>
    <div class="d-flex">
      <a href="#" class="col-lg company">
        <img src="@/assets/images/logo_footer.svg" alt="logo_footer">
        <p>Công ty TNHH Giáo dục Visang Việt Nam</p>
      </a>

      <div class="col-lg rule">
        <a href="#">Quy Chế Hoạt Động</a>
        <a href="#">Chính sách giải quyết tranh chấp</a>
        <a href="#">Chính Sách Bảo Mật</a>
        <a href="#">Dịch vụ khách hàng</a>
      </div>

      <div class="col-lg address">
        <a href="tel:0243-6886-333">
          <img src="@/assets/icons/phone_footer.svg" alt="phone_footer">
          <span>0243-6886-333</span>
        </a>
        <a href="mailto:visang@gmail.com">
          <img src="@/assets/icons/mail.svg" alt="mail">
          <span>visang@gmail.com</span>
        </a>
        <a href="#">
          <img src="@/assets/icons/address.svg" alt="address">
          <span>Tầng 2, FLC Landmark Tower, đường Lê Đức Thọ, phường Mỹ Đình 2, quận Nam Từ Liêm, thành phố Hà Nội, Việt Nam</span> 
        </a>
      </div>
    </div>

    <hr>
    
    <div class="footer-bottom">
      <p>MST: 0109066143 do Sở KH & ĐT thành phố Hà Nội cấp ngày 14/01/2020</p>
      <p>Người đại diện: Mr. Lee Young Geun</p>
      <p>Copyright © VISANG Education Group Vietnam Company</p>
    </div>
  </footer>
</template>

<style scoped>
footer {
  font-size: 1.6rem;
  line-height: 2.2rem;

  background: var(--blue500);
}

footer div {
  padding: 2.8rem 10%;
}

footer div a,
footer div p {
  display: block;
  color: var(--white200);
}

footer hr {
  background: var(--gray100);
  opacity: 0.3;
}

.rule a,
.address a {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
  color: var(--white200);
}

.address img {
  margin-right: 1.2rem;
}

.footer-bottom {
  text-align: center;
}

/* Responsive */
/* Tablet */
/* @media screen and  (max-width: 1200px) {
  footer {
    font-size: 1.2rem;
    line-height: 2rem;

    background: var(--blue500);
  }

  footer div {
    padding: 1rem 10%;
  }

  .address img{
    margin-right: 1rem;
  }
} */

/* Mobile */
@media screen and  (max-width: 992px) {
}

@media screen and  (max-width: 768px) {
}

@media screen and  (max-width: 576px) {
}
</style>