<template>
  <header>
    <div>
      <a href="tel: 900" class="phone">
        <img src="@/assets/icons/phone.svg" alt="phone">
        <span>02343-6886-333</span>
      </a>

      <a href="#" class="language">
        <img src="@/assets/icons/earth.svg" alt="earth">
          <select>
            <option value="0">VN</option>
            <option value="1">EN</option>
            <option value="2">KO</option>
          </select>
      </a>
    </div>
  </header>
</template>

<style scoped>
header {
  width: auto;
  height: 4rem;
  padding: 0.8rem 10% 0.8rem 0;

  background-color: var(--white100);
}

header div {
  display: flex;
  float: right;
}

.phone img,
.language img {
  margin-right: 0.6rem;
}

.phone span,
.language select {
  font-size: 1.4rem;
  font-weight: 500;

  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  
  color: var(--black100);
  background-color: none;
}

.language {
  margin-left: 1.8rem;
  border-left: 0.2rem solid var(--black100);
}

.language img {
  margin-left: 1.8rem;
}

/* Responsive */
@media only screen and (max-width: 1200px) {
  header{
    display: none;
  }
}
</style>