<template>
  <nav>
    <!-- Navigation desktop -->
    <div class="nav-desktop">
      <div class="logo">
        <a href="/index.html">
            <img src="@/assets/images/logo.svg" alt="logo">
        </a>
      </div>
            
      <!-- Menu desktop -->
      <div class="menu-desktop">
        <ul>
          <li>
            <a href="#">Giảng viên</a>
          </li>
          <li>
            <a href="/features/course/course.html">Khóa học</a>
          </li>
          <li>
            <a href="/features/enroll/enroll.html">1:1 Class</a>
          </li>
          <li>
            <a href="/features/level/level.html ">Korean tech</a>
          </li>
          <li>
            <a href="/features/login/login.html">Tài khoản</a>
          </li>
        </ul>
      </div>

      <div class="login">
        <label for="tabSignIn" class="sign-in">
          <span>Đăng nhập</span>
        </label>
        <label for="tabSignUp" class="sign-up">
          <span>Đăng ký</span>
        </label>
      </div>
    </div>

      <!-- Navigation tablet/mobile -->
    <div class="nav-mobile">
        <a href="#">
          <img src="/assets/images/logo.svg" alt="logo">
        </a>

        <label for="navMobile" class="nav-btn">
          <img src="/assets/icons/menu.svg" alt="menu">
        </label>
    </div>

    <input type="checkbox" name="" hidden class="nav-input" id="navMobile">

    <!-- Menu tablet/mobile -->
    <div class="menu-mobile">
      <ul>
        <li>
          <a href="#">Giảng viên</a>
        </li>
        <li>
          <a href="#">Khóa học</a>
        </li>
        <li>
          <a href="#">1:1 Class</a>
        </li>
        <li>
          <a href="/features/course/course.html">Korean tech</a>
        </li>
        <li>
          <a href="/features/login/login.html">Tài khoản</a>
        </li>
      </ul>
    </div>
  </nav>
</template>

<style scoped>
body {
  font-size: 16px;
}

nav {
  border-top: 0.5px solid rgba(197, 199, 221, 0.5);
  background-color: var(--white100);
}

/* Navigation desktop */
.nav-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  height: 8rem;
  padding: 3rem 0;
  margin-left: 10%;
  
  text-align: center;
}

.menu-desktop li {
  display: inline-block;
  align-items: center;
  margin-right: 3rem;
  padding-top: 1rem;

  text-align: center;
}

.menu-desktop li a {
  color: var(--black100);
}

.login a {
  padding: 1.2rem 2.4rem;
  line-height: 2.3rem;
}

.login .sign-in {
  margin-right: 2rem;
  color: var(--blue500);
}

.login .sign-up {
  padding: 0.8rem 1.8rem;
  border-radius: 8px;

  color: var(--white100);
  background-color: var(--blue500);
}

/* Navigation mobile */
.nav-mobile {
  display: none;
  align-items: center;

  width: 80%;
  height: 8rem;
  padding: 3rem 0;
  margin-left: 10%;
  
  text-align: center;

  transition: all linear 0.3s;
}

/* Navigation Mobile - Tablet */
.menu-mobile {
  display: none;
  top: 8rem;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 32.8rem;

  text-align: center;

  background-color: var(--white200);
}

.menu-mobile li {
  padding: 2rem 0;
}

.menu-mobile li a {
  color: var(--black100);
}

.nav-input:checked ~ .menu-mobile {
  display: none;
}

/* Responsive */
/* Tablet */
@media only screen and  (max-width: 1200px) {
  .nav-desktop {
    display: none;
  }

  .menu-desktop li {
    margin-right: 0.8rem;
  }

  .nav-mobile {
    display: flex;
    justify-content: space-between;
  }

  .login a {
    padding: 1rem 1.6rem;
    line-height: 1.8rem;
  }

  .nav-input:checked ~ .menu-mobile {
    display: block;
  }
}

/* Mobile */
@media only screen and  (max-width: 992px) {
  .logo img {
    width: 50px;
  }
}

@media only screen and  (max-width: 768px) {
}

@media only screen and  (max-width: 576px) {
}

</style>