<template>
<main>
  <div class="tabs">
    <!-- Checked -->
    <!-- <input type="radio" name="login" checked="checked" id="tabSignIn">
    <input type="radio" name="login" id="tabSignUp"> -->
    
    <div class="tabs__header">
        <label for="tabSignIn" class="sign-in">
          <span>Đăng nhập</span>
        </label>
        
        <label for="tabSignUp" class="sign-up">
          <span>Đăng ký</span>
        </label>
    </div>
          
    <input type="radio" name="login" hidden checked="checked" id="tabSignIn">
    <input type="radio" name="login" hidden id="tabSignUp">

    <div class="tabs__body">
              <!-- Sign in -->
      <div class="tabs__sign-in">
        <div class="name">
          <label class="">Tài khoản</label><br>
          <input type="text" class="form-control">
        </div>

        <div class="password">
          <label class="">Mật khẩu</label><br>
          <input type="password" class="form-control">
        </div>

        <div class="btns">
          <button class="sign-in">Đăng nhập</button>
          <hr>
          <button class="facebook">
            <img src="@/assets/icons/facebook.svg" alt="facebook">
            <span>Đăng nhập với Facebook</span>
          </button>
          <br>
          <button class="google">
            <img src="@/assets/icons/google.svg" alt="google">
            <span>Đăng nhập với Google</span>
          </button>
        </div>
      </div>

      <!-- Sign up -->
      <div class="tabs__sign-up">
        <div class="name">
          <label class="name">Tên</label><br>
          <input type="text" class="form-control">
        </div>

        <div class="birth-day row">
            <div class="col-lg">
                <label for="day">Ngày</label>
                <select class="form-control" name="day" id="day" aria-placeholder="day"></select>
            </div>
            <div class="col-lg"> 
                <label for="month">Tháng</label>
                <select class="form-control" name="month" id="month"></select>
            </div>
            <div class="col-lg">
                <label for="year">Năm</label>
                <select class="form-control" name="year" id="year">Year:</select>
            </div>
        </div>

        <div>
          <label class="">Email</label><br>
            <input type="email" class="form-control">
          </div>
                  
          <div>
            <label class="">Mật khẩu</label><br>
            <input type="password" class="form-control">
          </div>
                  
          <div class="info row">
            <div class="phone-number col-lg">
              <label>Số điện thoại</label><br>
              <input type="tel" class="form-control" id="" placeholder="+84 | Nhập">
            </div>
            <div class="male col-lg">
              <label>Giới tính</label><br>
              <input type="text" list="maleList" class="form-control" id="inputName" placeholder="Chọn">
              <datalist id="maleList">
                <option value="Nam"></option>
                <option value="Nữ"></option>
                <option value="Khác"></option>
              </datalist>
            </div>
          </div>

          <div class="btns">
              <button class="sign-in">Đăng ký</button>
              <hr>
              <button class="facebook">
                <img src="@/assets/icons/facebook.svg" alt="facebook">
                <span>Đăng ký với Facebook</span>
              </button>
              <br>
              <button class="google">
                <img src="@/assets/icons/google.svg" alt="google">
                <span>Đăng ký với Google</span>
              </button>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<style scoped>
body {
  line-height: 22px;
}

main,
.tabs__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login Tab */
.tabs {
  width: 50%;
  margin-top: 5rem;
  margin-bottom: 10rem;
  
  border-radius: 8px;

  background-color: var(--white100);
  box-shadow: 0px 12px 20px rgba(72, 91, 198, 0.1);
}

/* Tabs Header */
.tabs__header {
  margin-top: 4rem;
}

.tabs__header label {
  min-width: 12.5rem;
  padding: 0.8rem 2rem;
  text-align: center;
  
  border: 0.5px solid #C5C7DD;
  color: var(--black100);
  background: rgba(60, 60, 67, 0.05);
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.tabs__header a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: var(--black100);
}

.tabs__header .sign-in {
  border: 0.5px solid var(--blue500);
  background-color: var(--blue500);
  border-radius: 8px 0px 0px 8px;
}

.tabs__header .sign-up {
  border-radius: 0px 8px 8px 0px;
}

.tabs__header .sign-in span {
  color: var(--white200);
}

/* Tabs Checked */
.tabs input[type='radio']:checked + .tabs__body .tabs__sign-in {
  display: none;
}

.tabs input[type='radio']:checked + .tabs__body .tabs__sign-in {
  display: none;
}

.tabs__sign-up {
  display: none;
}

.tabs input[type='radio']:checked + .tabs__body .tabs__sign-up {
  display: block;
  transition: 0.3s;
}

#tabSignUp:checked ~ .tabs__header .sign-up {
  color: var(--white200);
  border: 0.5px solid var(--blue500);
  background-color: var(--blue500);
}

#tabSignUp:checked ~ .tabs__header .sign-in span {
  color: var(--black100);
}

.tabs input[type='radio']:checked + .tabs__header .sign-in {
  border: 0.5px solid #C5C7DD;
  background: rgba(60, 60, 67, 0.05);
}

/* Sign IN */
.tabs__sign-in,
.tabs__sign-up {
  align-items: center;
  margin: 4rem 10%;
}

.tabs__sign-in label,
.tabs__sign-up label {
  margin-bottom: 0.8rem;
  color: var(--black100);
}

.tabs__sign-in input,
.tabs__sign-up input,
.birth-day select {
  padding: 1rem 1rem;

  font-size: 1.6rem;
  line-height: 2.2rem;

  color: var(--blue500);
}

.name input {
  margin-bottom: 1.6rem;
}

.password {
  margin-bottom: 2.8rem;
}

.tabs__sign-in .button
.tabs__sign-up .button {
  width: 100%;
  padding-top: 4rem;
  align-items: center;

  text-align: center;
}

.btns button {
  width: 100%;
  padding: 1.2rem 0;

  border: none;
  border-radius: 4px;

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

button img {
  margin-right: 1.2rem;
}

.btns .sign-in {
  color: var(--white100);
  background-color: var(--blue500);
}


.btns .facebook {
  color: var(--white100);
  margin-bottom: 1.6rem;
  background-color: var(--blue600);
}

.btns .google {
  background-color: var(--white100);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12), 0px 0px 3px rgba(0, 0, 0, 0.12);
}

hr {
  margin: 2rem 0;
}

/* Sign UP */
.tabs__sign-up div {
  margin-bottom: 1.6rem;
}

.phone-number {
  margin-bottom: 4.8rem;
}

/* Responsive */
@media only screen and (max-width: 1200px) {
  .tabs {
    width: 80%;
  }

  .tabs__header .tabs__toggle {
    min-width: 12rem;
    padding: 1rem;
  }
}
</style>