<script setup>
defineProps({
  action: {
    type: String
  }
})

defineEmits(['on-sign-click', 'on-facebook-click', 'on-google-click'])
</script>

<template>
  <div class="btns">
    <button class="sign-in" @click="$emit('on-sign-click')">{{action}}</button>
    <hr>
    <button class="facebook" @click="$emit('on-facebook-click')">
      <img src="@/assets/icons/facebook.svg" alt="facebook">
      <span>{{action}} với Facebook</span>
    </button>
    <br>
    <button class="google" @click="$emit('on-google-click')">
      <img src="@/assets/icons/google.svg" alt="google">
      <span>{{action}} với Google</span>
    </button>
  </div>
</template>

<style scoped>
.btns button {
  width: 100%;
  padding: 1.2rem 0;

  border: none;
  border-radius: 4px;

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

button img {
  margin-right: 1.2rem;
}

.btns .sign-in {
  color: var(--white100);
  background-color: var(--blue500);
}


.btns .facebook {
  color: var(--white100);
  margin-bottom: 1.6rem;
  background-color: var(--blue600);
}

.btns .google {
  background-color: var(--white100);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12), 0px 0px 3px rgba(0, 0, 0, 0.12);
}

hr {
  margin: 2rem 0;
}
</style>