<script setup>
import { reactive, computed, watch, onMounted } from 'vue'

const emit = defineEmits(['on-change-birthday'])

const birthday = reactive({
  dayNum: 31,
  day: 1,
  month: 1,
  year: new Date().getFullYear(),
  currentYear: new Date().getFullYear(),
})

const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

watch(birthday, () => {
  if ([1, 3, 5, 7, 8, 10, 12].includes(birthday.month)) {
    birthday.dayNum = 31;
  } else if ([4, 6, 9, 11].includes(birthday.month) ) {
    birthday.dayNum = 30;
    if (birthday.day == 31) {
      birthday.day = birthday.dayNum;
    }
  } else{
    if (new Date(birthday.year, 1, 29).getMonth() === 1) {
      birthday.dayNum = 29;
      if (birthday.day > birthday.dayNum) {
        birthday.day = birthday.dayNum;
      }
    } else {
      birthday.dayNum = 28;
      if (birthday.day > birthday.dayNum) {
        birthday.day = birthday.dayNum;
      }
    }
  }

  emit('on-change-birthday', hanldeStringifyBirthday.value)
})

const hanldeStringifyBirthday = computed(() => {
  return birthday.year + '-' + ('0' + birthday.month).slice(-2) + '-' + ('0' + birthday.day).slice(-2)
})

onMounted(() => {
  emit('on-change-birthday', hanldeStringifyBirthday.value)
})
</script>

<template>
  <div class="birth-day row">
    <div class="col-lg">
      <label for="day">Ngày</label>
      <select class="form-control" v-model="birthday.day" name="day" id="day">
        <option 
          v-for="day in birthday.dayNum"
          :key="day + '-' + birthday.month"
          :value="day" 
          :selected="day == birthday.day"
        >
          {{day}}
        </option>
      </select>
    </div>
    <div class="col-lg"> 
      <label for="month">Tháng</label>
      <select class="form-control" v-model="birthday.month" name="month" id="month">
        <option 
          v-for="(month, index) in months"
          :key="index"
          :value="index + 1"
        >
          {{month}}
        </option>
      </select>
    </div>
    <div class="col-lg">
        <label for="year">Năm</label>
        <select class="form-control" v-model="birthday.year" name="year" id="year">
          <option :value="birthday.currentYear">{{birthday.currentYear}}</option>
          <option 
            v-for="year in 101"
            :key="year"
            :value="birthday.currentYear - year"
          >
            {{birthday.currentYear - year}}
          </option>
        </select>
    </div>
  </div>
</template>

<style scoped>
.birth-day select {
  padding: 1rem 1rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: var(--blue500);
}
</style>